<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Mission</h2>
                <hr class="light">
                <p class="text-faded">
                    Connecting our partners with our users, and our users with each other.<br>
                    Building a network that is the heartbeat of our city.
                </p>
                <i class="fa fa-4x fa-heartbeat wow bounceIn text-faded"></i>
            </div>
        </div>
    </div>
</section>
