<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="/img/logo2-clear-512.png" class="img-responsive" alt="">
            <h1>Your companion for a great night out</h1>
            <hr>
            <p>
                hot·spot connects your business with new customers, deepens engagement with existing patrons and generates drink sales by bringing people together.
            </p>
        </div>
        <br>
        <br>
        <br>
        <br>
        <a href='https://play.google.com/store/apps/details?id=com.seanyyyyyy.hotspotapp'>
            <img alt='Get it on Google Play'
                 src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'
                 style="width: 20vw; min-width: 160px;"/>
        </a>
        <a href='https://apps.apple.com/us/app/hot-spot/id1573357005'>
            <img alt='Download on the Apple Store'
                 src='https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg'
                 style="width: 15vw; min-width: 140px;"/>
        </a>

    </div>
</header>
