<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="/img/logo2-clear-512.png" class="img-responsive" alt="">
            <h1>Your companion for a great night out</h1>
            <hr>
            <p>
                Hot·spot connects your business with new customers,
                deepens engagement with your existing patrons
                and generates sales by bringing people together.
            </p>
        </div>
        <br>
        <br>
        <br>
        <br>
        <a href='https://play.google.com/store/apps/details?id=com.seanyyyyyy.hotspotapp'>
            <img alt='Get it on Google Play'
                 src='/img/google-play-badge.png'
                 style="width: 18vw; min-width: 165px;"/>
        </a>
        <a href='https://apps.apple.com/us/app/hot-spot/id1573357005'>
            <img alt='Download on the Apple Store'
                 src='/img/ios-store-badge.svg'
                 style="width: 15vw; min-width: 140px;"/>
        </a>
    </div>
</header>
